
.container
  .row
    .col-xl-6.col-sm-12
      h1 Upcoming shows
      table.table
        tbody
          tr(*ngFor='let show of (shows | orderByAirdate:"nextEpisode")')
            th.th-img
              img.rounded(src='{{show.image?.medium}}')
            th
              h4 {{show.name}}
              h5 Next episode

              p
                | Name: {{show.nextEpisode?.name}}
                | Local Date: {{show.nextEpisode?.airstamp | date:'EEE MMM d, y'}}
                | Local Time: {{show.nextEpisode?.airstamp | date:'H:mm'}}
    .col-xl-6.col-sm-12
      h1 Most recent shows
      table.table
        tbody
          tr(*ngFor='let show of (shows | orderByAirdate:"previousEpisode":true)')

            th
              h4 {{show.name}}
              h5 Previous episode

              p
                | Name: {{show.previousEpisode?.name}}
                | Local Date: {{show.previousEpisode?.airstamp | date:'EEE MMM d, y'}}
                | Local Time: {{show.previousEpisode?.airstamp | date:'H:mm'}}
            th.th-img
              img.rounded(src='{{show.image?.medium}}')
