<div class="container"><div class="col-md-6 offset-md-3 signup"><h2>Register</h2><form [formGroup]="signupForm" (ngSubmit)="signup()"><form-control-group [key]="&quot;email&quot;" [label]="&quot;Email&quot;" [form]="signupForm"></form-control-group><form-control-group [key]="&quot;password&quot;" [label]="&quot;Password&quot;" [form]="signupForm"></form-control-group><div class="form-group"><button class="btn btn-primary" type="signupForm.control.errors">Register</button></div></form><!--form((ngSubmit)='signup()', #f='ngForm').form-group([class.has-danger]='email.errors && (email.dirty || email.touched)')
  label(for='email') Email
  input.form-control.form-control-danger(
    type='text',
    name='email', id='email',
    [(ngModel)]='model.email',
    #email='ngModel',
    placeholder='Email',
    required
  )
  .form-control-feedback(*ngIf='email.errors && (email.dirty || email.touched)')
    div(*ngIf='email.errors.required') Email is reqired {{formErrors.name}}
//.form-group
  label(for='password') Password
  input.form-control(
  type='text',
  name='password', id='password',
  [(ngModel)]='model.password',
  #password='ngModel',
  placeholder='Password',
  required
  )
.form-group
  button.btn.btn-primary(type='submit' [disable]='!f.form.valid') Register--></div></div>