<div class="container"><div class="row"><div class="col-md-6"><h1>Add a show</h1></div><div class="col-md-6"><div class="input-group" [formGroup]="searchForm"><span class="input-group-addon">Search</span><input class="form-control" type="text" autofocus="autofocus" formControlName="search"/></div></div></div><table class="table"><!--theadtr
  th
  th Name
  th Next episode
  th--><tbody><tr *ngFor="let show of shows"><th class="th-img"><img class="rounded" *ngIf="show.image" src="{{show.image.medium}}"/></th><th><h4>{{show.name}}</h4><div [innerHtml]="show.summary"></div></th><th><div class="btn-group"><button class="btn btn-success" type="button">Subscribe</button><button class="btn btn-info" type="button">Episodes</button></div></th></tr></tbody></table></div>